body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
}

header {
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 2vh;
    padding-left: 15vh;
    padding-right: 15vh;
}
footer {
    color: #f9f9f8;
    background-color: #1f2937;
    padding: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}


ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    display: flex;
    gap: 2em;
    margin: 0;
    padding: 0;
    justify-content: center;
}

a , p, h1 {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px ;
    font-weight: bolder;
    margin: 0;
    width: 350px;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    font-size: 36px;
}

h3 {
    display: flex;
    margin-top: 0;
    font-size: 24px;
    align-self: flex-end;
    max-width: fit-content;
    margin-right: 17em;
}

img {
    display: flex;
    align-self: flex-end;
    border-radius: 1.5em;
    max-width: 50%;
    
}

button {
    display: flex;
    width: 15vh;
    height: 5vh;
    background-color: #3882f6;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    font-size: 2.5vh;
    font-weight: bold;
    border-radius: .75em;
}

p {
    max-width: auto ;
}

li {
    max-width: 16vh;
    text-align: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.banner {
    background-color: #1f2937;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 15vh;
    padding-right: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.images {
    display: flex;
    padding: .5em;
    gap: 16vh;
    justify-content: center;
    align-items: center;
}
.images img {
    border-style: solid;
    border-color: #3882f6;
}

.info {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 20vh;
    padding-right: 20vh;
    display: flex;
    flex-direction: column;
}

.info ul{
    gap: 16vh;
}

.subtext ul {
    text-decoration: none;
    font-size: 18px;
    color: #1f2937;
    word-wrap: normal;
}

.quote {
    background-color: #E5E7EB;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 15vh;
    padding-right: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-basis: 0;
}

.quote p {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    color: #1f2937;
    max-width: 900px;
    margin-bottom: 0;
}

.action {
    padding: 2vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    border-radius: 1em;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;
}

.action button {
    border-color: white;
    border-radius: 8px;
    width: 120px;
    border-width: 2px;
}

.action h4 {
    color: #f9f9f8;
    font-size: 36px;
    margin-bottom: 0;
    margin-top: 32px;
}

.action p {
    margin-top: 0;
    margin-bottom: 32px;
}

.action-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

}